<div class="container">
<<<<<<< HEAD
  <div class="column pure-u-1-2">
=======
>>>>>>> e56a978228e184f942d2977281104805a9bf40fc
  <h3>Login</h3>
  <form class="pure-form pure-form-stacked">
      <div class="form-group">
        <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" placeholder="Email" />
        <span class="pure-form-message">This is a required field.</span>
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" placeholder="Password" />
        <label for="stacked-remember" class="pure-checkbox">
            <input type="checkbox" id="stacked-remember" /> Remember me
        </label>
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </form>
  </div>
</div>
<<<<<<< HEAD
</div>

<div class="container">
  <div class="column">
    <h3>Signup</h3>
      <form class="sign-up pure-form pure-form-stacked">
=======

<div class="container">
<h3>Sign Up!</h3>
  <form class="pure-form pure-form-stacked">
>>>>>>> e56a978228e184f942d2977281104805a9bf40fc
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" placeholder="Email" />
        <span class="pure-form-message">This is a required field.</span>
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" placeholder="Password" />
        <button type="submit" class="pure-button pure-button-primary">Sign Up!</button>      
    </form>
  </div>
</div> 
<<<<<<< HEAD


=======
>>>>>>> e56a978228e184f942d2977281104805a9bf40fc
<script src="./js/login.js"></script>
