
<h1 class="content-head is-center">Welcome, {{name}}!</h1>
{{!-- <div class="pure-g"> --}}
<div class="pure-u-1">

<form id="submit" class="pure-form pure-form-stacked">
   <fieldset>
<h3>Create a New Blog Post:</h3>
    <label for="post-name">Topic</label>
    <input id="post-name" type="text" placeholder="Topic">
    <label for="post-desc">Description</label>
    <input id="post-desc" type="text" placeholder="Express yourself!">
    <button type="submit" class="pure-button" id="submit">Post it!</button>
  </fieldset>
</form>
</div>

<div id="list" class="pure-u-1">
  {{#if posts.length}}
    <h3>Current posts:</h3>    
  {{#each posts as |post|}}
        <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
        <button type="delete" class="button-error pure-button" data-id="{{post.id}}">DELETE</button>
    <p>
    {{/each}}
    </p>
<p>
  {{/if}}
  </p>
</div>

<script src="./js/profile.js"></script>
<script src="./js/post.js"></script>
