 <section id="extras" class="body">
		<div class="blogroll">
			<h2>blogroll</h2>
			<ul>
				<li><a href="#" rel="external">HTML5 Doctor</a></li>
				<li><a href="#" rel="external">HTML5 Spec (working draft)</a></li>
				<li><a href="#" rel="external">Smashing Magazine</a></li>
				<li><a href="#" rel="external">W3C</a></li>
				<li><a href="#" rel="external">Wordpress</a></li>
				<li><a href="#" rel="external">Wikipedia</a></li>
				
				<li><a href="#" rel="external">HTML5 Doctor</a></li>
				<li><a href="#" rel="external">HTML5 Spec (working draft)</a></li>
				<li><a href="#" rel="external">Smashing Magazine</a></li>
				<li><a href="#" rel="external">W3C</a></li>
				<li><a href="#" rel="external">Wordpress</a></li>
				<li><a href="#" rel="external">Wikipedia</a></li>
				
				<li><a href="#" rel="external">HTML5 Doctor</a></li>
				<li><a href="#" rel="external">HTML5 Spec (working draft)</a></li>
				<li><a href="#" rel="external">Smashing Magazine</a></li>
				<li><a href="#" rel="external">W3C</a></li>
				<li><a href="#" rel="external">Wordpress</a></li>
				<li><a href="#" rel="external">Wikipedia</a></li><article class="hentry">	
			</ul>
		</div>