* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(116, 232, 142);
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: 100;
}

/* login section */

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* sidebar */

.sidebar {
  background: rgb(0, 0, 0);
  color: #fff;
  overflow:hidden;
}

.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

/* Posts section */

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

/* main {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
  } */

/* Footer Section  */
/* .footer {
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
} */


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 48em) {
  .content {
      padding: 2em 3em 0;
      margin-left: 25%;
  }

  .header {
      margin: 80% 2em 0;
      text-align: right;
  }

  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  }

  .footer {
      text-align: center;
  }
}