* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Background */

body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)
} 


/* login section */

.column {
  width: 70%;
  margin-top: 6px;
  padding: 20px;
  background: rgb(0, 0, 0);
  color: #fff;
  overflow:hidden;
}

h3 {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-right: auto;
}

.container { 
  display: flex;
  color: white;
  box-sizing: border-box;
	width: 50%;
  margin-top: 6px;
  padding: 40px;
  background: rgb(0, 0, 0);
  margin: auto;
  }

/* sidebar */
.container { 
  display: flex;
  box-sizing: border-box;
	width: 500px;
	padding: 20px;
  }

.sidebar {
  background: rgb(0, 0, 0);
  color: #fff;
  overflow:hidden;
  justify-content:space-evenly;
  position: relative;
}

.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-weight: 100;
}

/* Posts Sections */

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
  background: rgb(0, 0, 0);
}
.post-title {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

/* Footer Section  */
.footer {
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
  
}

@media (min-width: 48em) {
  .content {
      padding: 2em 3em 0;
      margin-left: 25%;
  }

  .header {
      margin: 80% 2em 0;
      text-align: right;
  }

  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  }

  .footer {
      text-align: center;
  }
}